.reviews {
  padding-top: 260px;
  position: relative;
  z-index: 9;
}

.reviews_wrap {
  max-width: 1500px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.reviews_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.33;
  color: #414c63;
  margin-bottom: 100px;
}

