.section-name {
  font-size: 72px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  color: #414c63;
  line-height: 0.83;
  width: min-content;
  text-align: center;
}

.footer {
.section-name--footer {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 1.67;
  width: 170px;
  margin-bottom: 25px;
  text-align: left;
}
}
