section.about
  .about_wrap
    include ./user.pug 
    .about_description
      .about_description-text.common-text Привет, меня зовут
      .about_description-name Геннадий Никитенко
      .about_description-text.common-text.about_description-text--margin Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .about_description-text.common-text.about_description-text--font Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .about_decor-bottom
    +icon('decor-bottom', 'about_decor-img')