footer.footer
  .footer_wrap
    .footer_left-side
      .footer_date © 2019
      .footer_left-data
        .footer_data-name Геннадий Никитенко
        .footer_data-text 
          | Личный сайт
          br
          | веб-разработчика
    .footer_right-side
      nav.nav.nav--footer
        ul.nav_list
          li.nav_list-item
            a(href="#").nav_item-link Главна
          li.nav_list-item
            a(href="#").nav_item-link Обо мне
          li.nav_list-item
            a(href="#").nav_item-link Навыки
          li.nav_list-item
            a(href="#").nav_item-link Работы
          li.nav_list-item
            a(href="#").nav_item-link Отзывы
          li.nav_list-item
            a(href="#").nav_item-link Связаться
      .footer_social
        .footer_social-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        .social.social--footer
          ul.social_list
            li.social_list-item
              a(href="#").social_item-link
                +icon('insta', 'social_item-img')
            li.social_list-item
              a(href="#").social_item-link
                +icon('vk', 'social_item-img')
            li.social_list-item
              a(href="#").social_item-link
                +icon('github', 'social_item-img')
      .footer_think
        .footer_think-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
        .footer_think-name Martin Golding