footer.footer
  .footer_wrap
    .footer_left-side
      .footer_date © 2019
      .footer_left-data
        include ./section-name.pug 
        .footer_data-text 
          | Личный сайт
          br
          | веб-разработчика
    .footer_right-side
      nav.nav.nav--footer
        ul.nav_list
          li.nav_list-item
            a(href="#main").nav_item-link Главная
          li.nav_list-item
            a(href="#about").nav_item-link Обо мне
          li.nav_list-item
            a(href="#skill").nav_item-link Навыки
          li.nav_list-item
            a(href="#works").nav_item-link Работы
          li.nav_list-item
            a(href="#reviews").nav_item-link Отзывы
          li.nav_list-item
            a(href="#link").nav_item-link Связаться
      .footer_social
        .footer_social-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        .social.social--footer
          ul.social_list
            li.social_list-item
              a(href="#").social_item-link
                +icon('insta', 'social_item-img')
            li.social_list-item
              a(href="#").social_item-link
                +icon('vk', 'social_item-img')
            li.social_list-item
              a(href="#").social_item-link
                +icon('github', 'social_item-img')
      .footer_think
        .footer_think-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
        .footer_think-name Martin Golding
script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript', src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
