header.header.header--active
  .header_wrap
    a(href="#").logo
      .logo_text НГ
    nav.nav
      ul.nav_list
        li.nav_list-item
          a(href="#main").nav_item-link Главная
        li.nav_list-item
          a(href="#about").nav_item-link Обо мне
        li.nav_list-item
          a(href="#skill").nav_item-link Навыки
        li.nav_list-item
          a(href="#works").nav_item-link Работы
        li.nav_list-item
          a(href="#reviews").nav_item-link Отзывы
        li.nav_list-item
          a(href="#link").nav_item-link Связаться
    .social.social--header
      ul.social_list
        li.social_list-item
          a(href="#").social_item-link
            +icon('insta', 'social_item-img')
        li.social_list-item
          a(href="#").social_item-link
            +icon('vk', 'social_item-img')
        li.social_list-item
          a(href="#").social_item-link
            +icon('github', 'social_item-img')