section.main-section
  .main-section_content
    .main-section_content-title 
      | Личный сайт
      br
      | веб разработчика
    .main-section_content-text Геннадий Никитенко
  .main-section_scroll
    .main-section_scroll-text Скролл
    .main-section_scroll-btn
      +icon('scroll', 'main-section_scroll-img')