.paralax-reviews
  .paralax-reviews_layer
    +image('content/parallax2/lu-1.png', 'paralax-reviews_img', 'paralax')
  .paralax-reviews_layer.paralax-reviews_layer-1
    +image('content/parallax2/lu-2.png', 'paralax-reviews_img', 'paralax')
  .paralax-reviews_layer.paralax-reviews_layer-2
    +image('content/parallax2/lu-3.png', 'paralax-reviews_img', 'paralax')
  .paralax-reviews_layer.paralax-reviews_layer-3
    +image('content/parallax2/lu-4.png', 'paralax-reviews_img', 'paralax')
  .paralax-reviews_layer.paralax-reviews_layer-4
    +image('content/parallax2/lu-5.png', 'paralax-reviews_img', 'paralax')