.paralax
  .layer.parallax-1
    +image('content/parallax/Sky.png', 'parallax-img', 'parallax')
  .layer.parallax-2
    +image('content/parallax/Mountain.png', 'parallax-img', 'parallax')
  .layer.parallax-3
    +image('content/parallax/Baloon.png', 'parallax-img', 'parallax')
  .layer.parallax-4
    +image('content/parallax/Cloud.png', 'parallax-img', 'parallax')
  .layer.parallax-5
    +image('content/parallax/Man.png', 'parallax-img', 'parallax')
  .layer.parallax-6
    +image('content/parallax/Mountain1.png', 'parallax-img', 'parallax')
  .layer.parallax-7
    +image('content/parallax/White.png', 'parallax-img', 'parallax')