section.skill
  .skill_wrap
    .skill_img
      +image('content/backpack.png', '')
    .skill_content 
      .skill_title Чем я могу быть полезен вам
      .skill_description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      ul.skill_list
        li.skill_list-item
          ul.skill_item-category
            li.skill_category-item-title Front-end
            li.skill_category-item
              span.skill_category-item-name HTML5
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-85(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)')  
            li.skill_category-item
              span.skill_category-item-name CSS3
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-75(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
            li.skill_category-item
              span.skill_category-item-name Javascript
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-45(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
            li.skill_category-item
              span.skill_category-item-name Vue.js
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-0(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
          ul.skill_item-category
            li.skill_category-item-title Workflow
            li.skill_category-item
              span.skill_category-item-name GIT
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-80(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
            li.skill_category-item
              span.skill_category-item-name Terminal
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-90(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
            li.skill_category-item
              span.skill_category-item-name Gulp
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-80(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
            li.skill_category-item
              span.skill_category-item-name Webpack
              svg.circles.circles--active(viewBox='0 0 110 110')
                defs
                  lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                    stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                    stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                circle.circle__second.circle-50(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 