.slider
  .slider_nav
    a(href="#").slider_nav-prev
      +icon('arrow', '')
    a(href="#").slider_nav-next
      +icon('arrow', '')
  ul.slider_list
    li.slider_list-item
      .slider_list-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
      .slider_list-data
        .slider_data-ava
          +image('content/ava1.png', '')
        .slider_data-text
          div.slider_data-text-name Ковальчук Дмитрий
          div Основатель Loftschool
    li.slider_list-item
      .slider_list-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
      .slider_list-data
        .slider_data-ava
          +image('content/ava2.png', '')
        .slider_data-text
          div.slider_data-text-name Владимир Сабанцев
          div Преподаватель