.user
  .user_data-ava
    +image('content/user.jpg', 'about_ava-img')
  ul.user_data-list
    li.user_list-item
      .user_item-text Проживаю
      .user_item-text Днепр
    li.user_list-item
      .user_item-text Возраст
      .user_item-text 28 лет
    li.user_list-item
      .user_item-text Родился
      .user_item-text 17 мая 1991