include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      include ./includes/header.pug  
      main.main
        .section-wrap
          include ./includes/paralax.pug 
          include ./includes/main-section.pug 
          include ./includes/about.pug 
        include ./includes/skill.pug 
        include ./includes/works.pug 
        .section-wrap
          include ./includes/paralax-reviews.pug 
          include ./includes/reviews.pug 
          include ./includes/form.pug 
      include ./includes/footer.pug  