include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      include ./includes/header.pug  
      a(href="#")#main
      main.main
        .section-wrap
          include ./includes/paralax.pug 
          include ./includes/main-section.pug 
          a(href="#")#about
          include ./includes/about.pug
        a(href="#")#skill 
        include ./includes/skill.pug 
        a(href="#")#works
        include ./includes/works.pug 
        .section-wrap
          include ./includes/paralax-reviews.pug 
          a(href="#")#reviews
          include ./includes/reviews.pug
          a(href="#")#link 
          include ./includes/form.pug 
      include ./includes/footer.pug  
    include ./includes/entry.pug