include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      header.header
        .header_wrap
          a(href="#").logo
            +icon('gn', 'logo_img')
          nav.nav
            ul.nav_list
              li.nav_list-item
                a(href="#").nav_item-link Главна
              li.nav_list-item
                a(href="#").nav_item-link Обо мне
              li.nav_list-item
                a(href="#").nav_item-link Навыки
              li.nav_list-item
                a(href="#").nav_item-link Работы
              li.nav_list-item
                a(href="#").nav_item-link Отзывы
              li.nav_list-item
                a(href="#").nav_item-link Связаться
          .social.social--header
            ul.social_list
              li.social_list-item
                a(href="#").social_item-link
                  +icon('insta', 'social_item-img')
              li.social_list-item
                a(href="#").social_item-link
                  +icon('vk', 'social_item-img')
              li.social_list-item
                a(href="#").social_item-link
                  +icon('github', 'social_item-img')
      main.main
        .section-wrap
          .paralax
            +image('content/Mountain-Baloon.jpg', 'paralax')
          section.main-section
            .main-section_content
              .main-section_content-title 
                | Личный сайт
                br
                | веб разработчика
              .main-section_content-text Геннадий Никитенко
            .main-section_scroll
              .main-section_scroll-text Скролл
              .main-section_scroll-btn
                +icon('scroll', 'main-section_scroll-img')
          section.about
            .about_wrap
              .about_data
                .about_data-ava
                  +image('content/user.jpg', 'about_ava-img')
                ul.about_data-list
                  li.about_list-item
                    .about_item-text Проживаю
                    .about_item-text Днепр
                  li.about_list-item
                    .about_item-text Возраст
                    .about_item-text 28 лет
                  li.about_list-item
                    .about_item-text Родился
                    .about_item-text 17 мая 1991
              .about_description
                .about_description-text Привет, меня зовут
                .about_description-name Геннадий Никитенко
                .about_description-text.about_description-text--margin Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about_description-text.about_description-text--font Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about_decor-bottom
              +icon('decor-bottom', 'about_decor-img')
        section.skill
          .skill_wrap
            .skill_img
              +image('content/backpack.png', '')
            .skill_content 
              .skill_title Чем я могу быть полезен вам
              .skill_description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              ul.skill_list
                li.skill_list-item
                  ul.skill_item-category
                    li.skill_category-item-title Front-end
                    li.skill_category-item
                      span.skill_category-item-name HTML5
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-85(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)')  
                    li.skill_category-item
                      span.skill_category-item-name CSS3
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-75(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                    li.skill_category-item
                      span.skill_category-item-name Javascript
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-45(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                    li.skill_category-item
                      span.skill_category-item-name Vue.js
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-0(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                  ul.skill_item-category
                    li.skill_category-item-title Workflow
                    li.skill_category-item
                      span.skill_category-item-name GIT
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-80(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                    li.skill_category-item
                      span.skill_category-item-name Terminal
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-90(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                    li.skill_category-item
                      span.skill_category-item-name Gulp
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-80(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
                    li.skill_category-item
                      span.skill_category-item-name Webpack
                      svg.circles.circles--active(viewBox='0 0 110 110')
                        defs
                          lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
                            stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
                            stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
                        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                        circle.circle__second.circle-50(r='45', cx='50%', cy='50%', stroke="url(#grad1)" transform='rotate(-90 55 55)') 
        section.works
          .works_wrap
            .works_title Мои Работы
            .works_slider-wrap
              .works_slider
                ul.works_slider-list
                  li.works_list-item
                    +image('content/1.jpg', 'works_list-img')
                  ul.works_slider-nav
                    li.works_nav-img.works_nav-img--active    
                      +image('content/1.jpg', '')
                    li.works_nav-img  
                      +image('content/2.jpg', '')
                    li.works_nav-img  
                      +image('content/3.jpg', '')
                    li.works_nav-img  
                      +image('content/4.jpg', '')
                .works_slider-btn
                  a(href="#").works_btn-next 
                    +icon('arrow', '')
                  a(href="#").works_btn-prev 
                    +icon('arrow', '')
              .works_slider-content
                ul.works_content-list
                  li.works_list-item
                    ul.works_item-tech
                      li.works_tech-item HTML
                      li.works_tech-item CSS
                      li.works_tech-item Javascript
                    .works_item-num 1
                    .works_item-title Сайт школы образования
                    .works_item-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    a(href="#").works_item-link Посмотреть сайт
          .works_decor-bottom
            +icon('decor-top', '')
        .section-wrap
          .paralax
            +image('content/Budda.jpg', 'paralax')
          section.reviews
            .reviews_wrap
              .reviews_title Что обо мне говорят
              .reviews_slider-nav
                a(href="#").reviews_nav-prev
                  +icon('arrow', '')
                a(href="#").reviews_nav-next
                  +icon('arrow', '')
              ul.reviews_slider
                li.reviews_slider-item
                  .reviews_slider-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                  .reviews_slider-data
                    .reviews_data-ava
                      +image('content/ava1.png', '')
                    .reviews_data-text
                      div.reviews_data-text-name Ковальчук Дмитрий
                      div Основатель Loftschool
                li.reviews_slider-item
                  .reviews_slider-text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                  .reviews_slider-data
                    .reviews_data-ava
                      +image('content/ava2.png', '')
                    .reviews_data-text
                      div.reviews_data-text-name Владимир Сабанцев
                      div Преподаватель
          section.form
            .form_wrap
              .form_title Связаться со мной
              form(action="#", method="post")
                label.form_label
                  div.form_label-title Введите ваше имя
                  input(type="text")
                label.form_label
                  div.form_label-title Введите ваш email
                  input(type="text")
                label.form_label
                  div.form_label-title Сообщение к письму
                  textarea(name="#")
                button(type="submit") отправить
      footer.footer
        .footer_wrap
          .footer_left-side
            .footer_logo
              img(src="#", alt="logo")
            .footer_left-data
              .footer_data-name Геннадий Никитенко
              .footer_data-text Личный сайт веб-разработчика
            .footer_right-side
              nav.nav
                ul.nav_list
                  li.nav_list-item
                    a(href="#").nav_item-link Главна
                  li.nav_list-item
                    a(href="#").nav_item-link Обо мне
                  li.nav_list-item
                    a(href="#").nav_item-link Навыки
                  li.nav_list-item
                    a(href="#").nav_item-link Работы
                  li.nav_list-item
                    a(href="#").nav_item-link Отзывы
                  li.nav_list-item
                    a(href="#").nav_item-link Связаться
              .footer_social
                .footer_social-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
              .social
                ul.social_list
                  li.social_list-item
                    a(href="#").social_item-link
                      +icon('insta', 'social_item-img')
                  li.social_list-item
                    a(href="#").social_item-link
                      +icon('vk', 'social_item-img')
                  li.social_list-item
                    a(href="#").social_item-link
                      +icon('github', 'social_item-img')
              .footer_think
                .footer_think-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer_think-nameMartin Martin Golding