script(type="text/x-template")#skills-list
  ul.skill_list
    li.skill_list-item
      skillsRow(v-for="skill in skills" :skill="skill")

script(type="text/x-template")#skills-row
  ul.skill_item-category
    li.skill_category-item-title {{skill.skillsGroup}}
    skill(v-for="(skillPercent, skillName) in skill.skills" :skillName="skillName" :skillPercent="skillPercent")

script(type="text/x-template")#skills-row-item
  li.skill_category-item
    span.skill_category-item-name {{skillName}}
    svg.circles(viewBox='0 0 110 110')
      defs
        lineargradient#grad1(x1='0%', y1='0%', x2='40%', y2='100%')
          stop(offset='0%', style='stop-color:#ad00ed;stop-opacity:1')
          stop(offset='100%', style='stop-color:#5500f2;stop-opacity:1')
      circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
      circle.circle__second(:class="'circle-' + skillPercent" r='45', cx='50%', cy='50%', stroke="#5500f2" transform='rotate(-90 55 55)')